STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com,https://e0c0-2001-558-1401-10-00-2baf.ngrok-free.app
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com,https://e0c0-2001-558-1401-10-00-2baf.ngrok-free.app
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
POSTGRES_URL=
ADMIN_DISABLED=true